@import "tailwindcss";

body {
    background-color: #121212;
    color: white;
    font-family: 'Inter', 'SF Pro Text', 'Segoe UI', sans-serif;
}

.-mt-full {
    margin-top: -100%;
}

::selection {
	@apply bg-purple-500 text-white
}


a::selection {
    @apply bg-blue-800 text-white
}

footer *::selection {
    @apply bg-blue-800 text-white
}