@import "tailwindcss";

@theme {
    --color-neutral-925: #0a0a0a;
}

body {
    background-color: #f8f8f2;
    color: black;
    /* Anything but Segoe UI */
    font-family: 'SF Pro Text', 'Inter', 'Roboto', 'Helvetica', 'Arial', 'Open Sans', 'Segoe UI', sans-serif;
}

*::selection {
	@apply bg-yellow-400/80;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.project {
    @apply w-full h-20 rounded-md overflow-hidden bg-no-repeat flex flex-row justify-center items-center;
}